<div class="module htmlcontainer" ng-controller="HtmlContainerController">
  <koa-card ng-if="htmlcontainer.modulescope.display == 'card'">
    <div ng-bind-html="htmlcontainer.modulescope.value"></div>
  </koa-card>
  <div ng-if="htmlcontainer.modulescope.display != 'card'" ng-bind-html="htmlcontainer.modulescope.value"></div>
  <div ng-include="htmlcontainerTemplate"></div>
</div>
